{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'farmer/navbar.html.twig' %}
{% endblock %}


{% block content %}

<div class="">

    <!-- feature section -->
    <section style="border-bottom: 2px solid #bcd531" class="two-box-section bg-dark">
        <div class="container-fluid">
            <div style="display: flex; align-items: center; flex-wrap: wrap" class="row">
                <div class="col-md-6 col-xs-12">
                    <img style="padding: 30px" class="img-responsive" src="/assets/images/4238.jpg">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="box-contant">
                        <h2>Ajouter un produit</h2>

                        {{ form_start(form) }}

                            {{ form_widget(form.product.name) }}
                            {{ form_errors(form.product.name) }}

                            {{ form_widget(form.product.category) }}
                            {{ form_errors(form.product.category) }}

                            {{ form_widget(form.product.description) }}
                            {{ form_errors(form.product.description) }}

                            {{ form_widget(form.image) }}
                            {{ form_errors(form.image) }}

                            {{ form_widget(form.price) }}
                            {{ form_errors(form.price) }}

                            {{ form_widget(form.weight) }}
                            {{ form_errors(form.weight) }}

                            {{ form_widget(form.kiloPrice) }}
                            {{ form_errors(form.kiloPrice) }}

                                {#{% do form.farmer.farmName.setRendered %}#}
                            <button type="submit" class="btn btn-theme pull-right">Ajouter</button>
                            <div class="clearfix"></div>

                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature section -->
</div>

{% endblock %}
