{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'farmer/navbar.html.twig' %}
{% endblock %}


{% block content %}

<div class="">

    <!-- feature section -->
    <section style="border-bottom: 2px solid #bcd531" class="two-box-section bg-dark">
        <div class="container-fluid">
            <div style="display: flex; align-items: center; flex-wrap: wrap" class="row">
                <div class="col-md-6 col-xs-12">
                    <img style="padding: 30px" class="img-responsive" src="/assets/images/4238.jpg">
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="box-contant" style="color: white">
                        <h2>Ecrivez une newsletter</h2>
                        <p style="font-size: medium">Cette newsletter sera envoyée à l'ensemble des personnes qui ont ajouté votre ferme en favoris.</p>
                        <br/>
                        {{ form_start(form) }}

                        {{ form_widget(form.subject) }}
                        {{ form_errors(form.subject) }}

                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}

                        <button type="submit" class="btn btn-theme pull-right">Envoyer</button>
                            <div class="clearfix"></div>

                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end feature section -->
</div>

{% endblock %}
